# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
vitest-report/

# production
/build

# misc
.DS_Store
Desktop.ini
Thumbs.db
.envrc
CODEX_HANDOFF.md
dist

# npm
package-lock.json

.env
.env.*

# turbo
.turbo

## IDE
.idea/
.vscode/

# keys
*.key
*.pem

.nyc_output

# jscpd reports
reports/jscpd
